<div class="mt-5 md:mt-15 flex items-center justify-center">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 my-10 place-items-center">
    <div class="text-center flex flex-col items-center">
      <img src="assets/images/ajaz-profile-pic.png" class="mb-4 mt-4 w-48 rounded-full" alt="Avatar" />
      <h4 class="mb-2 text-2xl font-medium leading-tight underline">Ajaz Beig</h4>
      <p class="text-neutral-500 dark:text-neutral-400 w-full md:w-1/2 px-4 md:px-0">Frontend Developer & DevOps/SRE Enthusiast | Crafting
        seamless UIs & robust infrastructures | Skilled in Angular, CI/CD, Docker, Kubernetes, AWS, Monitoring</p>

      <div class="my-10 flex gap-5">
        <div class="flex flex-col items-center justify-center gap-2">
          <a href="https://www.linkedin.com/in/ajaz-beig-6b0402193/" target="_blank" rel="noopener noreferrer">
            <img src="assets/images/socials/linkedin.png" alt="" srcset="" class="h-10">
          </a>
          <span class="font-medium hover:underline cursor-pointer "><a
              href="https://www.linkedin.com/in/ajaz-beig-6b0402193/" target="_blank"
              rel="noopener noreferrer">Follow</a></span>
        </div>

        <div class="flex flex-col items-center justify-center gap-2">
          <a href="https://ajaz-beig.medium.com/" target="_blank" rel="noopener noreferrer">
            <img src="assets/images/socials/medium.png" alt="" srcset="" class="h-10">
          </a>
          <span class="font-medium hover:underline cursor-pointer "><a href="https://ajaz-beig.medium.com/"
              target="_blank" rel="noopener noreferrer">Follow</a></span>
        </div>

        <div class="flex flex-col items-center justify-center gap-2">
          <a href="https://github.com/ajazbeig-21/" target="_blank" rel="noopener noreferrer">
            <img src="assets/images/socials/github.png" alt="" srcset="" class="h-10">
          </a>
          <span class="font-medium hover:underline cursor-pointer "><a href="https://github.com/ajazbeig-21/"
              target="_blank" rel="noopener noreferrer">Follow</a></span>
        </div>

        <div class="flex flex-col items-center justify-center gap-2">
          <a href="https://m.youtube.com/@ProgrammingWithAjaz" target="_blank" rel="noopener noreferrer">
            <img src="assets/images/socials/youtube.png" alt="" srcset="" class="h-10">
          </a>
          <span class="font-medium hover:underline cursor-pointer "><a href="https://m.youtube.com/@ProgrammingWithAjaz"
              target="_blank" rel="noopener noreferrer">Subscribe</a></span>
        </div>
      </div>


    </div>
    <div class="text-center flex flex-col items-center gap-5 md:gap-10 px-4 md:px-0">
      <span class="text-xl font-medium text-neutral-500">Skills</span>
      <div class="flex flex-col gap-2 md:gap-4 items-center justify-center">
        <div class="flex gap-1 md:gap-3 flex-wrap justify-center">
          <div
            class="bg-blue-100 text-blue-800 text-sm md:text-xl font-medium me-1 md:me-2 px-2 md:px-4 py-1 md:py-2 rounded-full flex items-center justify-center gap-1 md:gap-2">
            <img src="assets/images/skills/linux.png" alt="" srcset="" class="h-5 md:h-7">
            <span>Linux</span>
          </div>
          <div
            class="bg-blue-100 text-blue-800 text-sm md:text-xl font-medium me-1 md:me-2 px-2 md:px-4 py-1 md:py-2 rounded-full flex items-center justify-center gap-1 md:gap-2">
            <img src="assets/images/skills/ansible.png" alt="" srcset="" class="h-5 md:h-7">
            <span>Ansible</span>
          </div>
        </div>
        <div class="flex gap-1 md:gap-3 flex-wrap justify-center">
          <div
            class="bg-blue-100 text-blue-800 text-sm md:text-xl font-medium me-1 md:me-2 px-2 md:px-4 py-1 md:py-2 rounded-full flex items-center justify-center gap-1 md:gap-2">
            <img src="assets/images/skills/aws.png" alt="" srcset="" class="h-5 md:h-7">
            <span>AWS</span>
          </div>
          <div
            class="bg-blue-100 text-blue-800 text-sm md:text-xl font-medium me-1 md:me-2 px-2 md:px-4 py-1 md:py-2 rounded-full flex items-center justify-center gap-1 md:gap-2">
            <img src="assets/images/skills/azure.png" alt="" srcset="" class="h-5 md:h-7">
            <span>Azure</span>
          </div>
          <div
            class="bg-blue-100 text-blue-800 text-sm md:text-xl font-medium me-1 md:me-2 px-2 md:px-4 py-1 md:py-2 rounded-full flex items-center justify-center gap-1 md:gap-2">
            <img src="assets/images/skills/docker.png" alt="" srcset="" class="h-5 md:h-7">
            <span>Docker</span>
          </div>
        </div>
        <div class="flex gap-1 md:gap-3 flex-wrap justify-center">
          <div
            class="bg-blue-100 text-blue-800 text-sm md:text-xl font-medium me-1 md:me-2 px-2 md:px-4 py-1 md:py-2 rounded-full flex items-center justify-center gap-1 md:gap-2">
            <img src="assets/images/skills/github.png" alt="" srcset="" class="h-5 md:h-7">
            <span>Git / GitHub</span>
          </div>
          <div
            class="bg-blue-100 text-blue-800 text-sm md:text-xl font-medium me-1 md:me-2 px-2 md:px-4 py-1 md:py-2 rounded-full flex items-center justify-center gap-1 md:gap-2">
            <img src="assets/images/skills/terraform.png" alt="" srcset="" class="h-5 md:h-7">
            <span>Terraform</span>
          </div>
          <div
            class="bg-blue-100 text-blue-800 text-sm md:text-xl font-medium me-1 md:me-2 px-2 md:px-4 py-1 md:py-2 rounded-full flex items-center justify-center gap-1 md:gap-2">
            <img src="assets/images/skills/kubernetes.png" alt="" srcset="" class="h-5 md:h-7">
            <span>Kubernetes</span>
          </div>
        </div>
        <div class="flex gap-1 md:gap-3 flex-wrap justify-center">
          <div
            class="bg-blue-100 text-blue-800 text-sm md:text-xl font-medium me-1 md:me-2 px-2 md:px-4 py-1 md:py-2 rounded-full flex items-center justify-center gap-1 md:gap-2">
            <img src="assets/images/skills/jenkins.png" alt="" srcset="" class="h-5 md:h-7">
            <span>Jenkins CI/CD</span>
          </div>
          <div
            class="bg-blue-100 text-blue-800 text-sm md:text-xl font-medium me-1 md:me-2 px-2 md:px-4 py-1 md:py-2 rounded-full flex items-center justify-center gap-1 md:gap-2">
            <img src="assets/images/skills/prometheus.png" alt="" srcset="" class="h-5 md:h-7">
            <span>Prometheus</span>
          </div>
          <div
            class="bg-blue-100 text-blue-800 text-sm md:text-xl font-medium me-1 md:me-2 px-2 md:px-4 py-1 md:py-2 rounded-full flex items-center justify-center gap-1 md:gap-2">
            <img src="assets/images/skills/grafana.png" alt="" srcset="" class="h-5 md:h-7">
            <span>Grafana</span>
          </div>
        </div>
        <div class="flex gap-1 md:gap-3 flex-wrap justify-center">
          <div
            class="bg-blue-100 text-blue-800 text-sm md:text-xl font-medium me-1 md:me-2 px-2 md:px-4 py-1 md:py-2 rounded-full flex items-center justify-center gap-1 md:gap-2">
            <img src="assets/images/skills/bash.png" alt="" srcset="" class="h-5 md:h-7">
            <span>Bash</span>
          </div>
          <div
            class="bg-blue-100 text-blue-800 text-sm md:text-xl font-medium me-1 md:me-2 px-2 md:px-4 py-1 md:py-2 rounded-full flex items-center justify-center gap-1 md:gap-2">
            <img src="assets/images/skills/python.png" alt="" srcset="" class="h-5 md:h-7">
            <span>Python</span>
          </div>
          <div
            class="bg-blue-100 text-blue-800 text-sm md:text-xl font-medium me-1 md:me-2 px-2 md:px-4 py-1 md:py-2 rounded-full flex items-center justify-center gap-1 md:gap-2">
            <img src="assets/images/skills/networking.png" alt="" srcset="" class="h-5 md:h-7">
            <span>Networking</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div>
  <section class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
      <dl class="grid max-w-screen-md gap-8 mx-auto text-gray-900 sm:grid-cols-3 dark:text-white">
        <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl md:text-4xl font-extrabold">4726+</dt>
          <dd class="font-light text-gray-500 dark:text-gray-400">Amazing Followers</dd>
        </div>
        <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl md:text-4xl font-extrabold">189K+</dt>
          <dd class="font-light text-gray-500 dark:text-gray-400">Engaged Viewers</dd>
        </div>
        <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl md:text-4xl font-extrabold">1.56M+</dt>
          <dd class="font-light text-gray-500 dark:text-gray-400">Reach</dd>
        </div>
      </dl>
    </div>
  </section>
</div>

    <router-outlet></router-outlet>
