<div class="h-screen flex items-center justify-center">
  <div class="grid grid-cols-2 gap-4">
    <div class="text-center flex flex-col items-center">
      <img
        src="assets/images/ajaz-profile-pic.png"
        class="mb-4 mt-4 w-48 rounded-full"
        alt="Avatar" />
      <h4 class="mb-2 text-2xl font-medium leading-tight underline">Ajaz Beig</h4>
      <p class="text-neutral-500 dark:text-neutral-400 w-1/2">Frontend Developer & DevOps/SRE Enthusiast | Crafting seamless UIs & robust infrastructures | Skilled in Angular, CI/CD, Docker, Kubernetes, AWS, Monitoring</p>
     
    </div>
    <div class="text-center flex flex-col items-center bg-gray-100">
      Skills Section Here
    </div>
  </div>
</div>

<div>
  
</div>
<div>
  <section class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
        <dl class="grid max-w-screen-md gap-8 mx-auto text-gray-900 sm:grid-cols-3 dark:text-white">
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl md:text-4xl font-extrabold">4726+</dt>
                <dd class="font-light text-gray-500 dark:text-gray-400">Amazing Followers</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl md:text-4xl font-extrabold">189K+</dt>
                <dd class="font-light text-gray-500 dark:text-gray-400">contributors</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl md:text-4xl font-extrabold">1.56M+</dt>
                <dd class="font-light text-gray-500 dark:text-gray-400">organizations</dd>
            </div>
        </dl>
    </div>
  </section>
</div>